In [1186]:
# Import Packages
import pyodbc
import pandas as pd
import glob, os, json
from pandarallel import pandarallel
import sqlalchemy as db
from sqlalchemy import create_engine, insert
pandarallel.initialize(verbose=0)

In [1187]:
# Specify JSON Directory
json_dir = ["Enter File Path"]

# Specify the files in the directory
json_pattern = os.path.join(json_dir, '*.json')
file_list = glob.glob(json_pattern)

# Create an empty array for the new DataFrame and Iterate through each file in the Directory to create the new DataFrame
dfs = []
for file in file_list:
    with open(file) as f:
        json_data = pd.json_normalize(json.loads(f.read()), record_path='playlists')
    dfs.append(json_data)
df = pd.concat(dfs)

In [1188]:
df2 = df.drop(columns=['tracks'])
final = df2[['pid', 'name', 'num_tracks', 'num_artists', 'num_albums', 'num_edits', 'num_followers', 'duration_ms', 'modified_at', 'collaborative', 'description']]
final = final.set_index('pid')
final

,name,num_tracks,num_artists,num_albums,num_edits,num_followers,duration_ms,modified_at,collaborative,description
pid,,,,,,,,,,
995000,MY FAVE,74,46,58,46,1,16200676,1507507200,false,NaN
995001,sleep,20,17,20,7,3,4758891,1508630400,false,NaN
995002,K-POP,43,30,37,10,1,9423651,1481241600,false,NaN
995003,carride,55,29,38,3,2,11875456,1502150400,false,NaN
995004,BEAN,40,35,39,3,1,8951071,1391817600,false,NaN
...,...,...,...,...,...,...,...,...,...,...
999995,Praise,32,11,23,5,1,8502173,1409529600,false,NaN
999996,Worship,122,42,74,12,1,31246908,1475625600,false,NaN
999997,Sex,24,17,22,4,1,6015165,1498176000,false,NaN
999998,✝️,11,5,8,6,1,2909608,1506816000,false,NaN
999999,BANDA,110,26,57,13,1,19451365,1433116800,false,NaN

In [1189]:
final['num_tracks'] = final['num_tracks'].astype('int16')
final['num_artists'] = final['num_artists'].astype('int16')
final['num_albums'] = final['num_albums'].astype('int16')
final['num_edits'] = final['num_edits'].astype('int16')
final['num_followers'] = final['num_followers'].astype('int16')
final['modified_at'] = final['modified_at'].astype('int64')
final['duration_ms'] = final['duration_ms'].astype('int64')

In [1190]:
engine = create_engine("mssql+pyodbc://test:Dondiablo112!@LAPTOP-E80R5A71:1433/Spotify?driver=ODBC+Driver+17+for+SQL+Server")
final.to_sql('dim_playlists', con = engine, if_exists="append")

-1